<div id="gameContainer">
      <img src="{{img_src}}" alt="">
      <h1>{{name}}</h1>
      <h5>{{id}}</h5>
      <h4>{{genres}}</h4>
      <h4>{{follows}}</h4>
      <h4>{{total_rating}}</h4>
</div>
<div class="row">
{{#each groups}}
      <form method="POST" action="/site/groups/{{id}}">
            <div>
                  <input type="checkbox" value="{{name}}" name="id">
                  <button type="submit">Add Game to group</button>
            </div>
      </form>
{{/each}}
</div>