<div id="groupContainer">
      <div class="row">
            <h1>{{groupName}}</h1>
            <form method="POST" action="{{id}}?_method=DELETE">
                  <button type="submit">Delete group</button>
            </form>
      </div>
       <form method="POST" action="/site/groups/{{id}}?_method=PUT">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="desc">Description</label>
            <input type="text" name="description" id="desc">
            <button type="submit">Update Group</button>
      </form>      
      <form method="GET" action="/site/groups/{{id}}/games">
            <label for="min">Min</label>
            <input type="text" name="min" id="min">
            <label for="max">Max</label>
            <input type="text" name="max" id="max">
            <button type="submit">Get games based on rating</button>
      </form>      
      <p>{{description}}</p>
      <div id="groupGames">
            <h4>Games:</h4>
            {{#each games}}
                  <div class="row" id="gameFromGroup">
                        <a href="/site/games/{{id}}">
                              <button>
                              {{name}}
                              </button>
                        </a>
                        <form method="POST" action="{{../id}}/games/{{id}}?_method=DELETE">
                              <button type="submit">x</button>
                        </form>
                  </div>
            {{/each}}
      </div>
</div>